@import '../App.scss';

.loader_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.comments_header {
  color: white;
  margin: 20px 0;

  .back_button {
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 13px;

    @include app_link(white);
  }

  .title {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
  }
}

.comments_container {
  display: flex;
  flex-direction: column;
  background: #fcfcfd;
  margin: 0 20px;
  padding: 10px;
  border-radius: 10px;
}
