.post_title {
  font-weight: bold;
  color: white;
  font-size: 24px;
  padding: 20px 0;
}

.post_list {
  display: flex;
  flex-wrap: wrap;
}

.loader_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
